.pooja-details-container {
    /* padding: 40px; */
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 100vh;
}

.pooja-details {
    display: flex;
    margin-top: 4rem;
    gap: 60px;
    width: 70%;
    align-items: flex-start;
}

.pooja-left img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.pooja-right {
    flex: 1;
    text-align: left;
}

.pooja-right h1 {
    margin-bottom: 15px;
    color: #ff9800;
}

.description {
    white-space: pre-line;
    margin-bottom: 20px;
    color: #fff;
}

.price {
    font-size: 20px;
    color: #6c706d;
}

.inquiry-btn{
    padding: 10px;
    background-color: #ff9800;
    border:none;
    border-radius: 20px;
    width: 100%;
    font-size: large;
    font-weight: 500;
}

.inquiry-btn:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .pooja-details {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
    }

    .pooja-left img {
        max-width: 100%;
    }

    .pooja-right {
        text-align: left;
    }

    .pooja-details-container {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .pooja-details-container {
        padding: 15px;
    }
}