
:root {
  --image-bg: #000;
  --image-container-bg: #610161;
  --image-primary: #FFB833;
  --image-text: white;
}

.consultation-section {
  padding: 2rem 2rem;
  background-color: #000;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.consultation-container {
  padding: 3rem 2rem;
  border-radius: 20px;
  margin-bottom: 3rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.consultation-main-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--image-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.consultation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

/* CARD */
.consultation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  background-color: #610161;
  padding: 2.5rem 1.5rem;
  border-radius: 16px;
  width: 100%;
}

.consultation-item:hover {
  box-shadow: 0 10px 40px 0px #610161;
}

.consultation-icon-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consultation-icon-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.7);
}

.consultation-icon {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  font-size: 50px;
  color: #ff7a00;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* HOVER EFFECT */
/* .consultation-item:hover .consultation-icon-wrapper {
  box-shadow: 0 0 20px -5px white;
} */

.consultation-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 576px) {
  .consultation-section {
    padding: 3rem 1rem;
  }

  .consultation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    width: 100%;
  }

  .consultation-container {
    padding: 2rem 1rem;
  }

  .consultation-icon-wrapper {
    width: 80px;
    height: 80px;
  }

  .consultation-icon {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .consultation-title {
    font-size: 0.9rem;
  }
}