.daily-insights-section {
  padding: 2rem 2rem;
  background: #000;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

/* SECTION WRAPPERS */
.daily-insights-section .appointment-section,
.daily-insights-section .prediction-section {
  padding: 3rem 2rem;
  margin-bottom: 5rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* TITLE */
.daily-insights-section .section-main-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFB833;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

/* SERVICES LIST */
.daily-insights-section .appointment-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2.5rem;
  justify-content: center;
}

.service-item:hover,
.zodiac-item:hover {
  box-shadow: 0 10px 40px 0px #610161;
}

/* SERVICE & ZODIAC CARDS */
.daily-insights-section .service-item,
.daily-insights-section .zodiac-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  background-color: #610161;
  padding: 2.5rem 1.5rem;
  border-radius: 16px;
  width: 100%;
}

/* ICON WRAPPER */
.daily-insights-section .icon-container {
  display: flex;
  justify-content: center;
}

.daily-insights-section .icon-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-insights-section .icon-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.7);
}

/* ICON */
.daily-insights-section .service-icon,
.daily-insights-section .zodiac-icon {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  font-size: 50px;
  color: #ff7a00;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* ZODIAC GRID */
.daily-insights-section .zodiac-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem 1.5rem;
}

/* TEXT */
.daily-insights-section .title-wrapper {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.daily-insights-section .zodiac-name {
  color: #eee;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.translate-btn {
  margin: 1.5rem auto;
  width: 40%;
  padding: 16px 16px;
  border-radius: 20px;
  background: #ffb833;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


@media (max-width: 576px) {
  .daily-insights-section {
    padding: 3rem 1rem;
  }

  .appointment-section,
  .prediction-section {
    padding: 2rem 1rem;
  }

  .icon-wrapper {
    width: 80px;
    height: 80px;
  }

  .service-icon,
  .zodiac-icon {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .title-wrapper,
  .zodiac-name {
    font-size: 0.9rem;
  }
}